<div class="row">
    <div style="margin-top: 40px">
        <div style="float: left; width: 50%;">
            <h2>View Customers</h2>
        </div>

        <div style="float: right; width: 50%">

        </div>
        <hr>
        <div ng-if="vm.anyCustomer" data-alert class="alert-box alert radius">
            {{ vm.customerMessage }}
            <a href="#" class="close">&times;</a>
        </div>
        <table>
            <thead>
            <tr>
                <th width="150">First Name</th>
                <th width="150">Last Name</th>
                <th width="150">Email</th>
                <th width="150">Phone Number</th>
                <th width="150">View</th>
                <th width="150">Edit</th>
                <th width="150">Delete</th>
            </tr>
            </thead>
            <tbody data-ng-repeat="customer in customers track by $index">
            <tr>
                <td>{{ customer.firstname }}</td>
                <td>{{ customer.lastname }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.phone }}</td>
                <td><a class="button radius success" ui-sref="viewcustomer({ customerID: customer.id })">View</a></td>
                <td><a class="button radius success" ui-sref="editcustomer({ customerID: customer.id })">Edit</a></td>
                <td>
                    <button data-ng-model="vm.customer.firstname" class="button alert radius"
                            ng-click="vm.deleteCustomer(customer)">Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>